.shop__category__container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.shop__category__header {
    width: 90%;
    height: 150px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px auto;
}

.shop__category__header__big {
    height: auto;
}

.shop__category__header__line {
    width: 120px;
    height: 6px;
    background-color: var(--grey);
    align-self: flex-start;
    border-radius: 25px;
}

.shop__category__card__container {
    height: auto;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: block;
}

/* Products */
.shop__category__product__card {
    width: 100% !important;
    display: grid !important;
    grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
    gap: 20px !important;
    padding: 20px !important;
    box-sizing: border-box;
}