@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&family=Manrope:wght@400;500;600;700&display=swap');

/* Global Font */
* {
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Cormorant Garamond', serif !important;
    font-weight: 400;
}

/* Buttons and Inputs */
button,
input,
textarea,
select {
    font-family: 'Manrope', sans-serif;
}

.discount__banner {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.discount__banner img {
    width: 100%;
    max-width: none;
    height: 60%;
    display: block;
}

.discount__content {
    position: absolute;
    left: 65%;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
    color: #fff;
    width: 38%;
}

.discount__content h2 {
    font-family: "Cormorant Garamond", serif;
    font-size: 2.5rem;
    margin: 0 0 10px;
}

.discount__content p {
    font-family: "Manrope", sans-serif;
    font-size: 1rem;
    margin-bottom: 20px;
}

.discount__button {
    display: inline-block;
    padding: 10px 25px;
    border: 1px solid #fff;
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
    font-family: "Manrope", sans-serif;
    font-weight: 600;
}

.discount__button:hover {
    background-color: #fff;
    color: #000;
}

.new__banner {
    position: relative;
    width: 100%;
    padding: 0;
    margin-top: 50px;
}

.new__banner img {
    width: 100%;
    display: block;
}

.new__banner__content {
    position: absolute;
    top: 40%;
    right: 8%;
    transform: translateY(-50%);
    text-align: left;
    color: #000;
    width: 35%;
}

.new__banner__content h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.new__banner__content p {
    font-family: "Manrope", sans-serif;
    margin-bottom: 20px;
}

.new__banner__button {
    display: inline-block;
    padding: 10px 25px;
    border: 1px solid #000;
    border-radius: 20px;
    color: #000;
    text-decoration: none;
    font-family: "Manrope", sans-serif;
    font-weight: 600;
}

.new__banner__button:hover {
    background-color: #000;
    color: #fff;
}