@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&family=Manrope:wght@200..800&display=swap');

/* VASTRA Colour Palette */
:root {
    --charcoal: #1C1C1C;
    --maroon: #2D0000;;
    --white: #FFFFFF;
}

/* Global Styling */
* {
    font-family: 'Manrope', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--white);
    color: var(--charcoal);
}

a {
    text-decoration: none;
    color: var(--charcoal);
}

a:hover {
    text-decoration: none;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Cormorant Garamond', serif;
    color: var(--charcoal);
    font-weight: 600;
}