.login__auth__container {
    min-height: calc(100vh - 125px);
    width: 100%;

    background-color: #f5f3ef;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 60px 20px;
    box-sizing: border-box;
}

.login__auth {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}